<div class="card mx-auto" style="width: 18rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" id="ciao">
  <img class="card-img-top" src="assets/images/sala_prova.jpeg" alt="Card image cap" style="border-top-left-radius: .25rem; border-top-right-radius: .25rem;">
  <div class="card-body">
    <h5 class="card-title">{{ data.nome }}</h5>
    <p class="card-text">Prezzo per evento: <strong>€ {{ data.prezzo }}</strong></p>
    <p class="card-text">Capienza massima: <strong>{{ data.capienza }} persone</strong></p>
  </div>
</div>
